@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
:root {
    --default-font: "Playfair Display";
    --primary-text-color: black;
    --secondary-text-color: #7b0f12;
    --side-panel: #bfbfbf;
}
body {
    display: grid;
    place-items: center;
    background: white;
    font-family: var(--default-font);
}
.card {
    grid-template-columns: 60% 40%;
    grid-template-rows: 1fr;
    position: relative;
    display: grid;

    back
}
.main-text {
    font-size: 64px; 
    grid-row: 1/2;
    grid-column: 1/3;
    color: var(--primary-text-color);
    z-index: 2;
    justify-self: start;  
    align-self: end;
}
.image {
    grid-column: 1/2;
    grid-row: 1/3;
    align-self: end;
    z-index: 1;

}
.cherries-text {
    grid-column: 2/3;
    grid-row: 2/3;
    color: var(--secondary-text-color);
    justify-content: right;
    font-size: 40px;
    align-self: start;
}